* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  max-width: 100%;
  background-color: rgb(255, 242, 224);
  font-family: "Bodoni Moda", serif;
}
img {
  max-width: 100%;
}
img,
svg {
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  background: linear-gradient(
    to left,
    rgb(251, 223, 150),
    lightgrey
  ) !important;
  box-shadow: 0 0.9rem 1rem #797676 !important;
}
nav {
  display: flex;

  padding: 20px;
  vertical-align: middle;
  align-items: center;
}
.navbar-brand {
  color: rgb(38, 36, 36) !important;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
}
.offcanvas {
  background: linear-gradient(to left, rgb(251, 223, 150), lightgrey);
}
.offcanvas-header {
  font-family: "Bodoni Moda", serif !important;
  font-style: italic;
  font-weight: bold;
}
.btn-outline-success {
  color: black;
  border-color: black;
}
/* .menu {
  display: flex;
  justify-content: center;

  align-items: center;
}
.menu-inner {
  padding: 0;
  margin: 0 20px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item + .menu-item {
  border-left: 1px solid #bbb;
}
.menu-link {
  display: block;
  padding: 20px 30px;
  background: rgb(239, 234, 195);
  color: rgb(49, 47, 47);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.menu-link:hover {
  background: none;
} */

.bloque {
  max-width: 100%;
  position: relative;
}
.contenedor {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
}
/* .bloque h1 {
  margin: 0px;
  text-align: justify;
  font-size: 50px;

  color: goldenrod;

  top: 25%;
  left: 0;
  position: relative;
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

.bloque h2 {
  font-size: 24px;
  margin-bottom: 50px;
}
.bloque p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}
.bloque.parallax {
  max-width: 100%;
  height: 800px;
  background-position: 50% 50%; /*eje x eje y*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.parallax.mostrador1 {
  background-image: url(../imagenes/SeoulBlanco.JPG);
}
.parallax.mostrador2 {
  background-image: url(../imagenes/Golden.JPG);
}
.parallax.mostrador3 {
  background-image: url(../imagenes/BlancoDorado1.JPG);
}
.medidas {
  text-decoration: overline;
}

.header {
  display: flex;
  justify-content: center;
}
.menu-inner {
  display: flex;
  width: 100%;
}
.menu-item {
  display: inline-flex;
}
.bloque h1 {
  align-items: end;
  font-size: 80px;
}
